html,body,.container,.row{
    margin: 0;
    padding: 0;
}

.untapped{
    font-size: 24px;
    background-color: white;
    margin: 5px 5px;
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding: 5px;
    font-family: helvetica;
    user-select: none;
    border-radius: 4px;
}

.tapped{
    font-size: 24px;
    background-color: #a5d24a;
    margin: 5px 5px;
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding: 5px;
    font-family: helvetica;
    border-radius: 4px;
    user-select: none;
}
.container{
    margin-left: 120px;
    /*margin-right: 20px;*/
}
.row{
    padding: 0;
}
.container{
    padding: 0;
}
.subject_heading{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: beige;
}
.subtopic{
    position: absolute;
    top: 10%;
    height: 40%;
    width: 100%;
    background-color: beige;
}
.topics{
    background-color: beige;
    position: absolute;
    top: 40%;
    height: 60%;
    width: 100%;
}
topic_group{
    position: absolute;
    top: 0%;
    height: 30%;
    width: 100%;
    background-color: beige;
}
.confirm{
    position: absolute;
    top: 90%;
    right: 5%;
}
.abandon{
    position: absolute;
    top: 90%;
    left: 5%;
}